In [6]:
import pandas as pd

data = pd.read_csv("listings_new_york_2024.csv")

data.sample(5)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
11654,26954041,AKA Times Square - 2Bed Suite w/ Washer/Dryer,176950781,Aka Times Square,Manhattan,Theater District,40.757450,-73.983090,Entire home/apt,688.0,7,88,2024-06-14,2.16,13,362,31,Exempt
10761,23437793,Private Suite & Entry. 2 blocks to subway.,11581619,Stacey,Queens,Long Island City,40.762470,-73.926760,Entire home/apt,NaN,30,192,2023-06-23,2.51,1,0,0,NaN
31079,932865847860645621,Brooklyns Best,523377274,Doris,Brooklyn,Flatlands,40.627996,-73.926042,Entire home/apt,87.0,30,23,2024-05-30,1.94,1,351,23,NaN
6073,11691699,big & bright 2-bedroom by subway,12010675,Beverly,Brooklyn,Sunset Park,40.651010,-74.005340,Entire home/apt,NaN,30,4,2016-08-10,0.04,1,0,0,NaN
15442,39277490,YOUR COZY BUDGET FRIENDLY HOME AWAY IN NYC,19528144,Nma,Manhattan,Harlem,40.818370,-73.937650,Entire home/apt,NaN,30,6,2019-12-15,0.11,2,0,0,NaN