In [1]:
import pandas as pd

data = pd.read_csv("listings_new_york_2024.csv")

data.sample(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
36039,1134900809771751391,Stylish 3 bedrooms in Brooklyn,503294089,Nir,Brooklyn,Crown Heights,40.672919,-73.931492,Entire home/apt,NaN,30,0,NaN,NaN,1,269,0,NaN

In [12]:
rows, columns = data.shape
print("rows = ", rows)
print("columns = ", columns)

rows =  37765
columns =  18

In [16]:
data.dtypes

<bound method NDFrame.describe of                         id                                               name  \
0                     2595                              Skylit Midtown Castle
1                     5136    Spacious Family Friendly Duplex w/ Patio + Yard
2                     6848                   Only 2 stops to Manhattan studio
3                     6872  Uptown Sanctuary w/ Private Bath (Month to Month)
4                     6990                            UES Beautiful Blue Room
...                    ...                                                ...
37760  1192946306020922085                         Private Studio in Brooklyn
37761  1193005542763264121                   Skyline Views from MSG Penthouse
37762  1193016130087171760  Stunning designer Chelsea studio on the best b...
37763  1193068036013405081                         Sunny & Spacious in Queens
37764  1193086058992851452                        Bright 2 Bedroom in Astoria

         host_id      host_name neighbourhood_group     neighbourhood  \
0           2845       Jennifer           Manhattan           Midtown
1           7378        Rebecca            Brooklyn       Sunset Park
2          15991  Allen & Irina            Brooklyn      Williamsburg
3          16104            Kae           Manhattan       East Harlem
4          16800            Cyn           Manhattan       East Harlem
...          ...            ...                 ...               ...
37760  137493949         Sydney            Brooklyn      Clinton Hill
37761  559434422           Luis           Manhattan           Chelsea
37762   35491667            Nat           Manhattan           Chelsea
37763   20380663     Anastasios              Queens          Elmhurst
37764     910709         Israel              Queens  Ditmars Steinway

        latitude  longitude        room_type  price  minimum_nights  \
0      40.753560 -73.985590  Entire home/apt    NaN              30
1      40.662650 -73.994540  Entire home/apt  215.0              30
2      40.709350 -73.953420  Entire home/apt   81.0              30
3      40.801070 -73.942550     Private room   65.0              30
4      40.787780 -73.947590     Private room   65.0              30
...          ...        ...              ...    ...             ...
37760  40.684009 -73.967850  Entire home/apt   95.0              30
37761  40.751493 -73.996157  Entire home/apt  599.0              30
37762  40.741720 -74.002750  Entire home/apt   75.0              30
37763  40.731090 -73.878070  Entire home/apt   96.0              30
37764  40.776915 -73.907386  Entire home/apt  225.0              30

       number_of_reviews last_review  reviews_per_month  \
0                     49  2022-06-21               0.28
1                      4  2023-08-20               0.03
2                    193  2024-05-18               1.05
3                      1  2022-06-05               0.04
4                    247  2024-03-06               1.38
...                  ...         ...                ...
37760                  0         NaN                NaN
37761                  0         NaN                NaN
37762                  0         NaN                NaN
37763                  0         NaN                NaN
37764                  0         NaN                NaN

       calculated_host_listings_count  availability_365  \
0                                   3               300
1                                   1                71
2                                   1               193
3                                   2               365
4                                   1               212
...                               ...               ...
37760                               1                37
37761                               1               269
37762                              80               242
37763                               2               365
37764                               1                33

       number_of_reviews_ltm license
0                          0     NaN
1                          1     NaN
2                          3     NaN
3                          0     NaN
4                          2     NaN
...                      ...     ...
37760                      0     NaN
37761                      0     NaN
37762                      0     NaN
37763                      0     NaN
37764                      0     NaN

[37765 rows x 18 columns]>