In [1]:
import pandas as pd

data = pd.read_csv("listings_new_york_2024.csv")

data.sample(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365,number_of_reviews_ltm,license
36039,1134900809771751391,Stylish 3 bedrooms in Brooklyn,503294089,Nir,Brooklyn,Crown Heights,40.672919,-73.931492,Entire home/apt,NaN,30,0,NaN,NaN,1,269,0,NaN

In [11]:
rows, columns = data.shape
print("rows = ", rows)
print("columns = ", columns)

rows =  37765
columns =  18
id                                  int64
name                               object
host_id                             int64
host_name                          object
neighbourhood_group                object
neighbourhood                      object
latitude                          float64
longitude                         float64
room_type                          object
price                             float64
minimum_nights                      int64
number_of_reviews                   int64
last_review                        object
reviews_per_month                 float64
calculated_host_listings_count      int64
availability_365                    int64
number_of_reviews_ltm               int64
license                            object
dtype: object