In [199]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neural_network import MLPClassifier
data = pd.read_csv('performance.csv')

In [200]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1009 entries, 0 to 1008
Data columns (total 34 columns):
 #   Column                                                                      Non-Null Count  Dtype
---  ------                                                                      --------------  -----
 0   Unnamed: 0                                                                  1009 non-null   int64
 1   Adm_Year                                                                    1009 non-null   float64
 2   Gender                                                                      1009 non-null   object
 3   Age                                                                         1009 non-null   float64
 4   HSC_Pass_Year                                                               1009 non-null   float64
 5   Program                                                                     1009 non-null   object
 6   Merit_Scholarship                                                           1009 non-null   object
 7   Uni_Transport                                                               1009 non-null   object
 8   Learn_Mode                                                                  1009 non-null   object
 9   Smartphone                                                                  1009 non-null   object
 10  PC                                                                          1009 non-null   object
 11  Eng_Proficiency                                                             1009 non-null   object
 12  Probation                                                                   1009 non-null   object
 13  Suspension                                                                  1009 non-null   object
 14  Do you attend in teacher consultancy for any kind of academical problems?   1009 non-null   object
 15  Relationship                                                                1009 non-null   object
 16  CoCurricular                                                                1009 non-null   object
 17  Living_Arrangement                                                          1009 non-null   object
 18  Health_Issues                                                               1009 non-null   object
 19  Physical_Disabilities                                                       1009 non-null   object
 20  Target                                                                      1009 non-null   object
 21  Curr_Sem1                                                                   1009 non-null   float64
 22  Study_Hours1                                                                1009 non-null   float64
 23  Study_Sessions1                                                             1009 non-null   float64
 24  SM_Hours1                                                                   1009 non-null   float64
 25  Avg_Attendance1                                                             1009 non-null   float64
 26  Skills1                                                                     1008 non-null   object
 27  Skill_Dev_Hours1                                                            1009 non-null   float64
 28  Interest_Area1                                                              1002 non-null   object
 29  Prev_SGPA1                                                                  1009 non-null   float64
 30  Curr_CGPA1                                                                  1009 non-null   float64
 31  Completed_Credits1                                                          1009 non-null   float64
 32  Diploma                                                                     1009 non-null   bool
 33  Family_Income1                                                              1009 non-null   float64
dtypes: bool(1), float64(13), int64(1), object(19)
memory usage: 261.2+ KB

In [201]:
#summary statistic numerical columns
data.describe()

,Unnamed: 0,Adm_Year,Age,HSC_Pass_Year,Curr_Sem1,Study_Hours1,Study_Sessions1,SM_Hours1,Avg_Attendance1,Skill_Dev_Hours1,Prev_SGPA1,Curr_CGPA1,Completed_Credits1,Family_Income1
count,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1009.000000,1.009000e+03
mean,673.108028,2040.321110,21.368285,2019.251734,43.000991,3.334616,2.066898,3.439296,88.111001,2.224975,2.756482,3.211343,76.936571,6.349576e+04
std,311.377223,629.677177,1.614943,1.346681,266.874155,2.096762,1.034492,2.439363,16.079094,1.473957,0.858012,0.731698,47.733885,7.927658e+04
min,7.000000,2013.000000,18.000000,2012.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.530000e+03
25%,410.000000,2020.000000,20.000000,2019.000000,3.000000,2.000000,1.000000,2.000000,80.000000,1.000000,2.110000,2.880000,24.000000,3.000000e+04
50%,685.000000,2021.000000,21.000000,2020.000000,8.000000,3.000000,2.000000,3.000000,95.000000,2.000000,2.770000,3.390000,85.000000,5.000000e+04
75%,941.000000,2022.000000,22.000000,2020.000000,10.000000,4.000000,2.000000,4.000000,100.000000,3.000000,3.480000,3.710000,122.000000,7.700000e+04
max,1193.000000,22022.000000,26.000000,2028.000000,2022.000000,30.000000,10.000000,20.000000,100.000000,20.000000,5.000000,4.670000,147.000000,2.000000e+06

In [202]:
#first few rows
data.head()

,Unnamed: 0,Adm_Year,Gender,Age,HSC_Pass_Year,Program,Merit_Scholarship,Uni_Transport,Learn_Mode,Smartphone,...,SM_Hours1,Avg_Attendance1,Skills1,Skill_Dev_Hours1,Interest_Area1,Prev_SGPA1,Curr_CGPA1,Completed_Credits1,Diploma,Family_Income1
0,7,2021.0,Female,22.0,2019.0,BCSE,Yes,No,Offline,Yes,...,2.0,100.0,Web development skill(Frontend),1.0,Networking,3.80,3.64,35.0,False,32500.0
1,11,2021.0,Male,22.0,2019.0,BCSE,No,No,Offline,Yes,...,2.0,90.0,Programming,1.0,Data Science,3.40,3.53,35.0,False,20000.0
2,15,2021.0,Male,20.0,2020.0,BCSE,Yes,Yes,Offline,Yes,...,1.0,95.0,Programming,3.0,Machine Learning / Deep Learning,3.93,3.89,35.0,False,30000.0
3,18,2021.0,Male,21.0,2020.0,BCSE,Yes,No,Online,Yes,...,3.0,95.0,Programming,1.0,Artificial Intelligence,3.10,3.50,35.0,False,25000.0
4,20,2021.0,Female,21.0,2019.0,BCSE,Yes,No,Offline,Yes,...,2.0,96.0,Web development skill(Frontend),1.0,Web Development,3.81,3.65,34.0,False,30000.0

In [203]:
#check for missing values
data.isnull().sum()

Unnamed: 0                                                                    0
Adm_Year                                                                      0
Gender                                                                        0
Age                                                                           0
HSC_Pass_Year                                                                 0
Program                                                                       0
Merit_Scholarship                                                             0
Uni_Transport                                                                 0
Learn_Mode                                                                    0
Smartphone                                                                    0
PC                                                                            0
Eng_Proficiency                                                               0
Probation                                                                     0
Suspension                                                                    0
Do you attend in teacher consultancy for any kind of academical problems?     0
Relationship                                                                  0
CoCurricular                                                                  0
Living_Arrangement                                                            0
Health_Issues                                                                 0
Physical_Disabilities                                                         0
Target                                                                        0
Curr_Sem1                                                                     0
Study_Hours1                                                                  0
Study_Sessions1                                                               0
SM_Hours1                                                                     0
Avg_Attendance1                                                               0
Skills1                                                                       1
Skill_Dev_Hours1                                                              0
Interest_Area1                                                                7
Prev_SGPA1                                                                    0
Curr_CGPA1                                                                    0
Completed_Credits1                                                            0
Diploma                                                                       0
Family_Income1                                                                0
dtype: int64

In [204]:
#handle missing values
categorical_cols = data.select_dtypes(include=['object']).columns.drop('Target')

data['Interest_Area1'].fillna(data['Interest_Area1'].mode()[0],inplace =True)
data['Skills1'].fillna(data['Skills1'].mode()[0],inplace =True)

data.isnull().sum()

C:\Users\keiim\AppData\Local\Temp\ipykernel_15064\2144536244.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Interest_Area1'].fillna(data['Interest_Area1'].mode()[0],inplace =True)
C:\Users\keiim\AppData\Local\Temp\ipykernel_15064\2144536244.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['Skills1'].fillna(data['Skills1'].mode()[0],inplace =True)

Unnamed: 0                                                                    0
Adm_Year                                                                      0
Gender                                                                        0
Age                                                                           0
HSC_Pass_Year                                                                 0
Program                                                                       0
Merit_Scholarship                                                             0
Uni_Transport                                                                 0
Learn_Mode                                                                    0
Smartphone                                                                    0
PC                                                                            0
Eng_Proficiency                                                               0
Probation                                                                     0
Suspension                                                                    0
Do you attend in teacher consultancy for any kind of academical problems?     0
Relationship                                                                  0
CoCurricular                                                                  0
Living_Arrangement                                                            0
Health_Issues                                                                 0
Physical_Disabilities                                                         0
Target                                                                        0
Curr_Sem1                                                                     0
Study_Hours1                                                                  0
Study_Sessions1                                                               0
SM_Hours1                                                                     0
Avg_Attendance1                                                               0
Skills1                                                                       0
Skill_Dev_Hours1                                                              0
Interest_Area1                                                                0
Prev_SGPA1                                                                    0
Curr_CGPA1                                                                    0
Completed_Credits1                                                            0
Diploma                                                                       0
Family_Income1                                                                0
dtype: int64

In [205]:
#target distribution
data['Target'].value_counts()

Target
Poor         503
Average      272
Good         178
Excellent     56
Name: count, dtype: int64

In [206]:
#encoding target varibale
label_encoder = LabelEncoder()
data['Target'] = label_encoder.fit_transform(data['Target'])

print(data['Target'])

0       2
1       2
2       2
3       0
4       2
       ..
1004    3
1005    3
1006    3
1007    3
1008    3
Name: Target, Length: 1009, dtype: int32

In [207]:
#Standardize numerical features
numerical_cols = data.select_dtypes(include=['float64', 'int64']).columns

standard_scaler = StandardScaler()
data[numerical_cols] = standard_scaler.fit_transform(data[numerical_cols])

print(numerical_cols)

Index(['Unnamed: 0', 'Adm_Year', 'Age', 'HSC_Pass_Year', 'Curr_Sem1',
       'Study_Hours1', 'Study_Sessions1', 'SM_Hours1', 'Avg_Attendance1',
       'Skill_Dev_Hours1', 'Prev_SGPA1', 'Curr_CGPA1', 'Completed_Credits1',
       'Family_Income1'],
      dtype='object')

In [208]:
#split data into 70% training and 30% testing

x = data.drop(columns=['Target']) 
y = data['Target']

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [209]:
#first model evaluation
# -logistic regression
# -support vector machine(SVM)
# -multi-layer perceptron

log_reg = LogisticRegression(solver='saga', random_state=0)
svm = SVC(kernel='rbf', random_state=0)
mlp = MLPClassifier(random_state=0)

In [210]:
#Training models
log_reg.fit(x_train, y_train)
svm.fit(x_train, y_train)
mlp.fit(x_train, y_train)

ValueError: could not convert string to float: 'Male'